<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InventoryProjectServlet</display-name>
  <welcome-file-list>
    <welcome-file>Menu.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchStockServlet</display-name>
    <servlet-name>SearchStockServlet</servlet-name>
    <servlet-class>com.hcl.inventory.SearchStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStockServlet</servlet-name>
    <url-pattern>/SearchStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStockServlet</display-name>
    <servlet-name>AddStockServlet</servlet-name>
    <servlet-class>com.hcl.inventory.AddStockServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStockServlet</servlet-name>
    <url-pattern>/AddStockServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrderServlet</display-name>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <servlet-class>com.hcl.inventory.PlaceOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrderServlet</servlet-name>
    <url-pattern>/PlaceOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStock</display-name>
    <servlet-name>AddStock</servlet-name>
    <servlet-class>com.hcl.inventory.AddStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStock</servlet-name>
    <url-pattern>/AddStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.hcl.inventory.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStock</display-name>
    <servlet-name>SearchStock</servlet-name>
    <servlet-class>com.hcl.inventory.SearchStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStock</servlet-name>
    <url-pattern>/SearchStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceOrder</display-name>
    <servlet-name>PlaceOrder</servlet-name>
    <servlet-class>com.hcl.inventory.PlaceOrder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceOrder</servlet-name>
    <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
</web-app>