<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LibraryManagementProject</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.hcl.library.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.hcl.library.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MenuServlet</display-name>
    <servlet-name>MenuServlet</servlet-name>
    <servlet-class>com.hcl.library.MenuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuServlet</servlet-name>
    <url-pattern>/MenuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccount</display-name>
    <servlet-name>MyAccount</servlet-name>
    <servlet-class>com.hcl.library.MyAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccount</servlet-name>
    <url-pattern>/MyAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>com.hcl.library.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/MyAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHistory</display-name>
    <servlet-name>MyHistory</servlet-name>
    <servlet-class>com.hcl.library.MyHistory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHistory</servlet-name>
    <url-pattern>/MyHistory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHistoryServlet</display-name>
    <servlet-name>MyHistoryServlet</servlet-name>
    <servlet-class>com.hcl.library.MyHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHistoryServlet</servlet-name>
    <url-pattern>/MyHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>com.hcl.library.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServlet</display-name>
    <servlet-name>ReturnBookServlet</servlet-name>
    <servlet-class>com.hcl.library.ReturnBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServlet</servlet-name>
    <url-pattern>/ReturnBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBooks</display-name>
    <servlet-name>IssueBooks</servlet-name>
    <servlet-class>com.hcl.library.IssueBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBooks</servlet-name>
    <url-pattern>/IssueBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBooksServlet</display-name>
    <servlet-name>IssueBooksServlet</servlet-name>
    <servlet-class>com.hcl.library.IssueBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBooksServlet</servlet-name>
    <url-pattern>/IssueBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIssuedBooks</display-name>
    <servlet-name>ShowIssuedBooks</servlet-name>
    <servlet-class>com.hcl.library.ShowIssuedBooks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIssuedBooks</servlet-name>
    <url-pattern>/ShowIssuedBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIssuedBooksServlet</display-name>
    <servlet-name>ShowIssuedBooksServlet</servlet-name>
    <servlet-class>com.hcl.library.ShowIssuedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIssuedBooksServlet</servlet-name>
    <url-pattern>/ShowIssuedBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowReturnedBooksServlet</display-name>
    <servlet-name>ShowReturnedBooksServlet</servlet-name>
    <servlet-class>com.hcl.library.ShowReturnedBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowReturnedBooksServlet</servlet-name>
    <url-pattern>/ShowReturnedBooksServlet</url-pattern>
  </servlet-mapping>
</web-app>